html, body{
font-family: 'Barlow' ;
margin:0 auto;
height: 100%;
scroll-behavior: smooth;
}

.top {
display: inline-grid;
align-items: center;
grid-template-columns: auto auto;
grid-column-gap: 300px;
padding: 10px;
background:#050522;
color: white;
width: 100%;
}
.navigationbar ul {
list-style: none;
text-align: center;
margin-top: -40px;
padding-bottom: 15px;

}
.navigationbar ul li {
  display: inline-grid;
  margin: 10px;
}
.navigationbar ul li a {
text-decoration: none;
color: black;
}
h2{
  text-align: center;
}

header{
  width: 100%;
  background-color: white;
}
.logo {
  padding: 10px 25px;
}
.intro {
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/skyscraper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  text-align: center;
  padding-top: 150px;
  color: white;
}
.intro p {
  font-size: 20px;

}
.intro h1 {
  font-size: 50px;
}
#introbutton{
  font-size: 20px;
  padding: 15px;
  width: 200px;
  border:2px solid #CE9510;
  background: #CE9510;
  color: white;
}

.grid-container {
  display: grid;
  grid-column-gap:90px;
  grid-template-columns: auto auto auto;
  justify-content:center;
  padding: 10px;
}
.grid-item{
  border: 1px solid #CDCDCD;
  padding: 20px;
 font-size: 20px;
 text-align: center;
 width: 250px;

}
hr {
  border: 0;
  width: 50px;
  border-top: #CE9510;
}
.services h2 {
  text-align: center;
  font-size: 40px;
}

.gridcontainer{
  display: grid;
  grid-template-columns: auto auto;
}

h5{
  font-size: 15px;
  margin: 0 auto;
}
#missionimage {
  width: 30%;
}
.gridcontainer{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;

}
.Mission{
  background: #F2F3F8;
  padding:20px 20px 20px 250px;
  width:100%;

}
.Beneifts{
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../images/data.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;

}
.Beneifts h4{
  font-size: 30px;
}

#Beneiftslist{
  list-style: none;

}
#benefitbutton{
  padding: 15px;
  width: 300px;
  border:2px solid #CE9510;
  background: #CE9510;
  height: 60px;
  color: white;

}
